* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: url('img2.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    padding: 20px;
    border-radius: 10px;
    width: 80%; 
    max-width: 800px;
    background-color: transparent; 
}
h2 {
    color: #fff;
    margin-bottom: 20px;
    margin-top: 10px;
}
.profile {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff;
}

.links {
    margin-top: 20px;
}

.btn {
    display: block;
    margin: 10px 0;
    padding: 10px;
    text-decoration: none;
    color: #f7f4f4;
    text-align: center;
    border-radius: 5px;
    transition: 0.3s;
    background-color: transparent; 
    border: 2px solid white;
    text-shadow: 2px 2px 4px rgba(14, 8, 8, 0.5);
}

.instagram { background: transparent; }
.youtube { background: transparent; }
.facebook { background: transparent; }
.telegram { background: transparent; }

.btn:hover {
    opacity: 0.7;
    background-color: rgb(46, 48, 179);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

footer {
    margin-top: 180px;
}
.copyright {
    font-size: 14px;
    color: #f5f5ef;
    text-shadow: #080806;
}
